/* Estilos generales */
:root {
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  color: #333;
}

body {
  margin-top: 130px;
  margin-bottom: 103px;
}

html {
  min-height: 100%;
  position: relative;
}